header{
	height: auto;
	background-color: #E52236;
	padding: 5px;
}
.buttons{
	float: right;
	padding: 10px;
	/* position: absolute;
	top: 4%;
	right: 1%; */
}

.images{
	width: 80%;
}
/* LOGIN SIDE-------------------------------------------------- */
.login_register_div{
	margin-top:10%;

}
